/* Fixed Colors */
.icon-chat-host + span {
    color: #228B22 !important;
}
.icon-chat-cohost + span {
    color: #228B22 !important;
}
.icon-chat-manager + span {
    color: #68B354 !important;
}
.icon-chat-bouncer + span {
    color: #68B354 !important;
}
.icon-chat-dj + span {
    color: #68B354 !important;
}
/* Fixed Colors */
