/* Staff */
.icon-chat-host + span {
    color: #FFC125 !important;
}
.icon-chat-cohost + span {
    color: #FFC125 !important;
}
.icon-chat-manager + span {
    color: #00FFFF !important;
}
.icon-chat-bouncer + span {
    color: #00BFFF !important;
}
.icon-chat-dj + span {
    color: #87CEFA !important;
}
.icon-chat-host {
	background: url("https://rawgit.com/TheStrangerGuy/EDT/master/images/Host-Co-Host.png") !important;
}
.icon-chat-cohost {
	background: url("https://rawgit.com/TheStrangerGuy/EDT/master/images/Host-Co-Host.png") !important;
}
.icon-chat-manager {
	background: url("https://rawgit.com/TheStrangerGuy/EDT/master/images/manager.png") !important;
}
.icon-chat-bouncer {
	background: url("https://rawgit.com/TheStrangerGuy/EDT/master/images/bouncer.png") !important;
}
.icon-chat-dj {
	background: url("https://rawgit.com/TheStrangerGuy/EDT/master/images/rdj.png") !important;
}
/* Staff */
