/* Staff */
.icon-chat-ambassador + span {
    color: #89be6c !important;
}
.icon-chat-host + span {
    color:#228B22 !important;
}
.icon-chat-cohost + span {
    color: #228B22 !important;
}
.icon-chat-manager + span {
    color: #68B354 !important;
}
.icon-chat-bouncer + span {
    color: #68B354 !important;
}
.icon-chat-rdj + span {
    color: #68B354 !important;
}
/* Staff */
