/* 4SharedPRO --> */
[data-cid^="3924364-"] .badge-box .bdg {
    background-image: url("http://i.imgur.com/AqlZ8lD.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3924364 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/AqlZ8lD.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
/* <-- 4SharedPRO */
