/* 4SharedPRO --> */
[data-cid^="3424833-"] .badge-box .bdg {
    background-image: url("https://i.imgur.com/fA1NtWn.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* <-- 4SharedPRO */
